.choice {
    position: relative;
    background-image: url("../../img/mask-bg.svg"), url("../../img/mask-bg.svg");
    background-repeat-y: no-repeat;
    background-size: cover;
}
.choice__wrapper {
    padding: 42px 0 60px;
}
.choice-wrapper {
    padding-left: 20px;
}
.choice__title {
    margin-bottom: 30px;
    padding-left: 20px;
}
.choice-slide {
    width: 196px;
}
.souvenir-choice .choice-slide,
.wide-choice .choice-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 292px;
}
.souvenir-choice .choice-slide form,
.wide-choice .choice-slide form,
.souvenir-choice .choice-slide h3,
.wide-choice .choice-slide h3 {
    margin-top: auto;
}
.choice-slide.last-slide {
    margin-right: 40px;
}
.choice-slide__title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
}
/*select*/
.choice-slide__selects {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -8px;
    letter-spacing: -0.065em;
}
.choice-slide__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 94px;
}
.choice-slide__select-size.size1,
.wide-choice .choice-slide__select-size.size5,
.wide-choice .choice-slide__select-size.size5 .choice-slide__select-size-content,
.wide-choice .choice-slide__select-size.size1,
.wide-choice .choice-slide__select-size.size1 .choice-slide__select-size-content,
.wide-choice .choice-slide__select-size.size2,
.wide-choice .choice-slide__select-size.size2 .choice-slide__select-size-content,
.wide-choice .choice-slide__select-size.size6,
.wide-choice .choice-slide__select-size.size6 .choice-slide__select-size-content,
.wide-choice .choice-slide__select-size.size7,
.wide-choice .choice-slide__select-size.size7 .choice-slide__select-size-content {
    width: 130px;
}
.wide-choice .choice-slide__select-size.size4,
.wide-choice .choice-slide__select-size.size4 .choice-slide__select-size-content {
    width: 50px;
}
.souvenir-choice .choice-slide__select-size.size1,
.souvenir-choice .choice-slide__select-size.size1 .choice-slide__select-size-content,
.souvenir-choice .choice-slide__select-size.size4,
.souvenir-choice .choice-slide__select-size.size4 .choice-slide__select-size-content,
.souvenir-choice .choice-slide__select-size.size6,
.souvenir-choice .choice-slide__select-size.size6 .choice-slide__select-size-content,
.souvenir-choice .choice-slide__select-size.size8,
.souvenir-choice .choice-slide__select-size.size8 .choice-slide__select-size-content {
    width: 88px;
}
.souvenir-choice .choice-slide__select-size.size3,
.souvenir-choice .choice-slide__select-size.size3 .choice-slide__select-size-content {
    width: 100px;
}
.souvenir-choice .choice-slide__select.quantity3,
.souvenir-choice .choice-slide__select.quantity3 .choice-slide__select-quantity-content {
    width: 104px;
}
.souvenir-choice .choice-slide__select.quantity1,
.souvenir-choice .choice-slide__select.quantity1 .choice-slide__select-quantity-content,
.souvenir-choice .choice-slide__select.quantity4,
.souvenir-choice .choice-slide__select.quantity4 .choice-slide__select-quantity-content,
.souvenir-choice .choice-slide__select.quantity5,
.souvenir-choice .choice-slide__select.quantity5 .choice-slide__select-quantity-content,
.souvenir-choice .choice-slide__select.quantity6,
.souvenir-choice .choice-slide__select.quantity6 .choice-slide__select-quantity-content,
.souvenir-choice .choice-slide__select.quantity8,
.souvenir-choice .choice-slide__select.quantity8 .choice-slide__select-quantity-content {
    width: 115px;
}
.sticker-choice .choice-slide__select-size.size1,
.sticker-choice .choice-slide__select-size.size1 .choice-slide__select-size-content,
.sticker-choice .choice-slide__select.quantity4,
.sticker-choice .choice-slide__select.quantity4 .choice-slide__select-quantity-content,
.sticker-choice .choice-slide__select.quantity1 .choice-slide__select-quantity-content,
.souvenir-choice .choice-slide__select-size.size5,
.souvenir-choice .choice-slide__select-size.size5 .choice-slide__select-size-content,
.souvenir-choice .choice-slide__select-size.size7,
.souvenir-choice .choice-slide__select-size.size7 .choice-slide__select-size-content {
    width: 94px;
}
.choice-slide__select-size.size6,
.choice-slide__select-size.size6 .choice-slide__select-size-content,
.choice-slide__select-size.size5,
.choice-slide__select-size.size5 .choice-slide__select-size-content,
.souvenir-choice .choice-slide__select.quantity2,
.souvenir-choice .choice-slide__select.quantity2 .choice-slide__select-quantity-content {
    width: 110px;
}
.choice-slide__select-size.size7,
.choice-slide__select-size.size7 .choice-slide__select-size-content {
    width: 103px;
}
.choice-slide__select-size.size8,
.choice-slide__select-size.size8 .choice-slide__select-size-content {
    width: 85px;
}
.choice-slide__select-size.size1 .choice-slide__select-size-content,
.wide-choice .choice-slide__select-size.size3,
.wide-choice .choice-slide__select-size.size3 .choice-slide__select-size-content {
    width: 118px;
}
.choice-slide__select.quantity1  .choice-slide__select-quantity-content {
    width: 86px;
}
.choice-slide__select.quantity4,
.choice-slide__select.quantity4  .choice-slide__select-quantity-content {
    width: 107px;
}
.choice-slide__select.quantity5,
.choice-slide__select.quantity5  .choice-slide__select-quantity-content,
.choice-slide__select.quantity7,
.choice-slide__select.quantity7  .choice-slide__select-quantity-content {
    width: 80px;
}
.wide-choice .choice-slide__select.quantity4,
.wide-choice .choice-slide__select.quantity4 .choice-slide__select-quantity-content {
    width: 150px;
}
.wide-choice .choice-slide__select-size.size8,
.wide-choice .choice-slide__select-size.size8 .choice-slide__select-size-content {
    width: 160px;
}
.choice-slide__select-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 6px 5px;
    letter-spacing: -0.06em;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}
.choice-slide__select-nochoise {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 105px;
    padding: 10px 6px 5px;
    letter-spacing: -0.06em;
}
.choice-slide__select-title::before,
.choice-slide__select-title::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 8px;
    display: block;
    width: 10px;
    height: 2px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #252323;
    -webkit-transform: translate(-3px, -50%) rotate(45deg);
        -ms-transform: translate(-3px, -50%) rotate(45deg);
            transform: translate(-3px, -50%) rotate(45deg);
}
.choice-slide__select-title::after {
    -webkit-transform: translate(3px, -50%) rotate(-45deg);
        -ms-transform: translate(3px, -50%) rotate(-45deg);
            transform: translate(3px, -50%) rotate(-45deg);
}
.choice-slide__select-content {
    position: absolute;
    top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 94px;
    color: #9B9B9B;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.31);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.31);
}
.choice-slide__select-input {
    display: none;
    pointer-events: none;
}
.choice-slide__select-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 6px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    opacity: 0;
}
.choice-slide__select-label.label-checked {
    background-color: #252323;
    color: #fff;
    height: 26px;
    max-height: 26px !important;
}
.choice-slide__select-label:not(:first-of-type)::before {
    position: absolute;
    content: "";
    height: 1px;
    background: #9B9B9B;
    top: -1px;
    left: 7px;
}
.choice-slide__select-size-label:not(:first-of-type)::before {
    width: 87%;
}
.choice-slide__select-quantity-label:not(:first-of-type)::before {
    width: 84%;
}
.choice-slide__select-label:first-of-type::after {
    position: absolute;
    content: "";
    height: 1px;
    background: #252323;
    top: 0;
    left: 7px;
}
.choice-slide__select-size-label:first-of-type::after {
    width: 87%;
}
.choice-slide__select-quantity-label:first-of-type::after {
    width: 84%;
}
.choice-slide__select-label.label-checked::before {
    height: 0;
}
.choice-slide__select[data-state="active"] .choice-slide__select-label {
    max-height: 25px;
    border-width: 1px;
}
.choice-slide__select[data-state="active"] .choice-slide__select-label {
    opacity: 1;
}
.choice-slide__select[data-state=""] .choice-slide__select-label {
    pointer-events: none;
}
.choice-slide__select[data-state=""] .choice-slide__select-label.label-checked {
    max-height: 0 !important;
    height: 0 !important;
}
.choice-slide__select[data-state="active"] .choice-slide__select-title {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.31);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.31);
}
/*select*/

.choice-slide__img-wrapper {
    width: 190px;
    height: 170px;
    margin-bottom: 10px;
}
.calculator-price-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 6px;
}
.calculator-price {
    margin-right: 5px;
    line-height: 14px;
}
.calculator-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 102px;
    height: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    background-color: #FFF212;
    border-radius: 7px;
    -webkit-box-shadow: 0px 1px 3px #d1d1d1;
            box-shadow: 0px 1px 3px #d1d1d1;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.calculator-btn:hover {
    -webkit-box-shadow: 0px 2px 5px rgb(0 0 0 / 44%);
            box-shadow: 0px 2px 5px rgb(0 0 0 / 44%);
    cursor: pointer;
}
.choice-footnote {
    padding-left: 20px;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
}

@media (min-width: 768px) {
    .choice__wrapper {
        padding: 53px 0 70px;
    }
    .choice__title {
        padding-left: 60px;
    }
    .choice-wrapper {
        padding-left: 60px;
    }
    .choice-slide {
        width: 226px;
    }
    .choice-slide.last-slide {
        margin-right: 100px;
    }
    .choice-slide__title {
        margin-bottom: 8px;
    }
    .choice-slide__img-wrapper {
        width: 220px;
        height: 197px;
    }
    .souvenir-choice .choice-slide, .wide-choice .choice-slide {
        height: 313px;
    }
    .wide-choice .choice-slide__select-size.size4,
    .wide-choice .choice-slide__select-size.size4 .choice-slide__select-size-content {
        width: 60px;
    }
    .choice-slide__select.quantity1 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select-size.size1,
    .souvenir-choice .choice-slide__select-size.size1 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size6,
    .souvenir-choice .choice-slide__select-size.size6 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size8,
    .souvenir-choice .choice-slide__select-size.size8 .choice-slide__select-size-content {
        width: 94px;
    }
    .souvenir-choice .choice-slide__select-size.size2,
    .souvenir-choice .choice-slide__select-size.size2 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size4,
    .souvenir-choice .choice-slide__select-size.size4 .choice-slide__select-size-content {
        width: 100px;
    }
    .souvenir-choice .choice-slide__select.quantity3,
    .souvenir-choice .choice-slide__select.quantity3 .choice-slide__select-quantity-content {
        width: 110px;
    }
    .choice-slide__select-size.size5, .choice-slide__select-size.size5 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select.quantity2,
    .souvenir-choice .choice-slide__select.quantity2 .choice-slide__select-quantity-content {
        width: 117px;
    }
    .souvenir-choice .choice-slide__select.quantity1,
    .souvenir-choice .choice-slide__select.quantity1 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select.quantity4,
    .souvenir-choice .choice-slide__select.quantity4 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select.quantity6,
    .souvenir-choice .choice-slide__select.quantity6 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select.quantity8,
    .souvenir-choice .choice-slide__select.quantity8 .choice-slide__select-quantity-content {
        width: 120px;
    }
    .choice-slide__select-size.size1 .choice-slide__select-size-content,
    .wide-choice .choice-slide__select-size.size1 {
        width: 130px;
    }
    .choice-slide__select[data-state="active"] .choice-slide__select-label {
        max-height: 30px !important;
        min-height: 30px !important;
    }
    .choice-footnotes {
        position: absolute;
        bottom: 84px;
        right: 50px;
    }
    .choice-footnote {
        font-size: 10px;
        line-height: 12px;
    }
}

@media (min-width: 850px) {
    .choice {
        background-size: contain;
    }
}

@media (min-width: 1200px) {
    .choice__wrapper {
        position: relative;
        padding: 80px 0 100px;
        max-width: 1460px;
        margin: 0 auto;
    }
    .choice__title {
        margin-bottom: 50px;
        padding-left: 100px;
    }
    .choice-wrapper {
        margin-bottom: 30px;
        padding-left: 100px;
    }
    .choice-slide {
        width: 306px;
    }
    .souvenir-choice .choice-slide,
    .wide-choice .choice-slide {
        height: auto;
    }
    .choice-slide.last-slide {
        margin-right: 190px !important;
    }
    .choice-slide__title {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .wide-choice .choice-slide__title {
        line-height: 28px;
    }
    .choice-slide__select[data-state="active"] .choice-slide__select-label {
        max-height: 40px !important;
        min-height: 40px !important;
    }
    .choice-slide__select-size-content {
        width: 110px;
        top: 38px;
    }
    .choice-slide__select-content {
        top: 38px;
    }
    .wide-choice .choice-slide__select-size.size4,
    .wide-choice .choice-slide__select-size.size4 .choice-slide__select-size-content {
        width: 80px;
    }
    .choice-slide__select,
    .choice-slide__select-quantity-content,
    .choice-slide__select.quantity1 .choice-slide__select-quantity-content,
    .choice-slide__select.quantity5, .choice-slide__select.quantity5 .choice-slide__select-quantity-content,
    .sticker-choice .choice-slide__select-size.size1,
    .sticker-choice .choice-slide__select-size.size1 .choice-slide__select-size-content,
    .sticker-choice .choice-slide__select.quantity1 .choice-slide__select-quantity-content,
    .sticker-choice .choice-slide__select.quantity4,
    .sticker-choice .choice-slide__select.quantity4 .choice-slide__select-quantity-content {
        width: 110px;
    }
    .choice-slide__select-size.size1,
    .choice-slide__select-size.size1 .choice-slide__select-size-content,
    .wide-choice .choice-slide__select-size.size1,
    .wide-choice .choice-slide__select-size.size1 .choice-slide__select-size-content,
    .wide-choice .choice-slide__select-size.size2,
    .wide-choice .choice-slide__select-size.size2 .choice-slide__select-size-content,
    .wide-choice .choice-slide__select-size.size3,
    .wide-choice .choice-slide__select-size.size3 .choice-slide__select-size-content,
    .wide-choice .choice-slide__select-size.size7,
    .wide-choice .choice-slide__select-size.size7 .choice-slide__select-size-content,
    .wide-choice .choice-slide__select-size.size6,
    .wide-choice .choice-slide__select-size.size6 .choice-slide__select-size-content {
        width: 160px;
    }
    .choice-slide__select-size.size2,
    .choice-slide__select-size.size2 .choice-slide__select-size-content,
    .choice-slide__select-size.size3,
    .choice-slide__select-size.size3 .choice-slide__select-size-content
    .choice-slide__select-size.size4,
    .choice-slide__select-size.size4 .choice-slide__select-size-content {
        width: 110px;
    }
    .choice-slide__select-size.size5, .choice-slide__select-size.size5 .choice-slide__select-size-content,
    .choice-slide__select-size.size6, .choice-slide__select-size.size6 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select.quantity1,
    .souvenir-choice .choice-slide__select.quantity1 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select.quantity2,
    .souvenir-choice .choice-slide__select.quantity2 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select.quantity4,
    .souvenir-choice .choice-slide__select.quantity4 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select.quantity6,
    .souvenir-choice .choice-slide__select.quantity6 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select.quantity8,
    .souvenir-choice .choice-slide__select.quantity8 .choice-slide__select-quantity-content {
        width: 150px;
    }
    .choice-slide__select-size.size7, .choice-slide__select-size.size7 .choice-slide__select-size-content,
    .choice-slide__select.quantity4, .choice-slide__select.quantity4 .choice-slide__select-quantity-content,
    .souvenir-choice .choice-slide__select-size.size1,
    .souvenir-choice .choice-slide__select-size.size1 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size2,
    .souvenir-choice .choice-slide__select-size.size2 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size3,
    .souvenir-choice .choice-slide__select-size.size3 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size4,
    .souvenir-choice .choice-slide__select-size.size4 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size5,
    .souvenir-choice .choice-slide__select-size.size5 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size6,
    .souvenir-choice .choice-slide__select-size.size6 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size7,
    .souvenir-choice .choice-slide__select-size.size7 .choice-slide__select-size-content,
    .souvenir-choice .choice-slide__select-size.size8,
    .souvenir-choice .choice-slide__select-size.size8 .choice-slide__select-size-content {
        width: 130px;
    }
    .choice-slide__select.quantity7, .choice-slide__select.quantity7 .choice-slide__select-quantity-content,
    .choice-slide__select-size.size8, .choice-slide__select-size.size8 .choice-slide__select-size-content {
        width: 100px;
    }
    .choice-slide__select.choice-slide__select-nochoise,
    .souvenir-choice .choice-slide__select.quantity3,
    .souvenir-choice .choice-slide__select.quantity3 .choice-slide__select-quantity-content {
        width: 135px;
    }
    .wide-choice .choice-slide__select-size.size5,
    .wide-choice .choice-slide__select-size.size5 .choice-slide__select-size-content {
        width: 170px;
    }
    .wide-choice .choice-slide__select.quantity4,
    .wide-choice .choice-slide__select.quantity4 .choice-slide__select-quantity-content {
        width: 195px;
    }
    .wide-choice .choice-slide__select-size.size8,
    .wide-choice .choice-slide__select-size.size8 .choice-slide__select-size-content {
        width: 210px;
    }
    .choice-slide__img-wrapper {
        margin-bottom: 15px;
        width: 300px;
        height: 268px;
    }
    .calculator-btn {
        width: 130px;
        height: 30px;
        font-size: 18px;
        line-height: 22px;
    }
    .choice-footnotes {
        right: 100px;
        bottom: 106px;
    }
    .choice-footnote {
        font-size: 14px;
        line-height: 20px;
    }
}